* {
    box-sizing: border-box;
  }
h1{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: "Lucida Console", Courier, monospace;
}
h2{
    text-align: right;
    font-size: 25px;
    font-weight: 200;
    font-family: "Lucida Console", Courier, monospace;
    background-color: rgb(233, 115, 69);
    width: fit-content;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
}
#st{
    background-color: rgb(233, 115, 69);
}

#nd{
    background-color: rgb(43, 159, 226);
}

#rd{
    background-color: rgb(0, 255, 170);
}

p{ 
    padding: 10px;
    font-weight: 500;
}

#x{
    margin: 10px;
    width: 95%;
    background-color: beige;
    margin-right: auto;
    margin-left: auto;
    align-self: auto;
    border: 3px solid black;
    font-family: "Lucida Console", Courier, monospace;
}


.row{
    width: 100%;
}
/*Desktop*/
@media (min-width: 992px) {
    .col-lg{
        float: left;
        width: 33.33%;        
    }
}

/********** Tablet only **********/
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-1{
        float: left;
        width: 50%;   
    }
    .col-md-2{
        float: left;
        width: 100%;   
    }
}

/*Moble*/
@media (max-width: 767px){

    .col-sm{
        float: left;
        width: 100%;
        
    }
}
