*{
    box-sizing: border-box;
}

body {
    font-size: 16px;
    background-color: #5065bb;
}

.navbar-header{
    height: 75px;
}

.navbar-header button{
    margin-top: 20px;
}

#header-nav {
    background-color: #a8d0e6;
}

.navbar-brand p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.2em;
    color: #24305e;
    font-weight: bolder;
    line-height: 50px;
}

#nav-list p {
    line-height: 50px;
    height: 50px;
    font-weight: bolder;
    color: #282828;
    font-size: 1.2em;
    margin-bottom: 0;
}

.navbar-brand p:hover {
    text-decoration: none;
    text-shadow: 1px 1px 1px #fc0000;
}

#line-hr{
    margin: 0;
    color: #a8d0e6;
}

#nav-list {
    background-color: #f76c6c;
}

#nav-list p:hover {
    color: #f76c6c;
    background-color: #f8e9a1;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #460805;
}

#top-heading p:hover{
    text-shadow: 1px 1px 1px #fc0000;
}

#main-content {
    width: 100%;
    margin-bottom: 40px;
}

#main-content h1 {
    font-size: 3em;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 40px;
}

#main-content h2 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
}

#main-section {
    background-color: #f76c6c;
    margin-bottom: 15px;
    padding: 30px;
}